
# ignore
/domain-driver-design/dist
/domain-driver-design/node_modules
/domain-driver-design/dist

/domain-driver-design/.env
/domain-driver-design/.env.local
/domain-driver-design/docker-compose.yml

